<div
  width="100%"
  style="display:flex; justify-content: center; background-color: rgb(240, 240, 240); padding: 30px 30px;"
>
  <div width="100%" style="width: 100%; padding: 20px 20px; background-color: rgb(255, 255, 255);">
    <div></div>
    <p style="text-align: right; font-size: 0.8rem; color: rgb(156, 156, 156)">나만의 코스로 함께
      달리는 러닝 커뮤니티</p>
  </div>
  <div
    style="width:100%; border-top: 1px solid rgb(240, 240, 240); border-bottom: 1px solid rgb(240, 240, 240);"
  >
    <h2 style="margin-bottom: 2rem;">잠시후 출발하는 모임이 있습니다</h2>
    <div style="width: 100%; display: flex; flex-direction: column; align-items: center;">
      <div style="width: 100%; display: flex; justify-content: space-between;">
        <p style="font-weight: 700;">모임 제목</p>
        <p>{{title}}</p>
      </div>
      <div style="width: 100%; display: flex; justify-content: space-between;">
        <p style="font-weight: 700;">집합 위치</p>
        <p>{{hName}}</p>
      </div>
      <div style="width: 100%; display: flex; justify-content: space-between;">
        <p style="font-weight: 700;">집합 일시</p>
        <p>{{startTime}}</p>
      </div>
      <div style="width: 100%; display: flex; justify-content: space-between;">
        <p style="font-weight: 700;">총거리</p>
        <p>{{pathLength}}km</p>
      </div>
    </div>
    <div style="width: 100%; display: flex; justify-content: center;">
      <a
        href={{href}}
        style="background-color: rgb(134, 179, 255); padding: 1rem; font-weight: 700; color: rgb(255, 255, 255); border-radius: 0.5rem; margin-bottom: 2rem; text-decoration: none;"
      >모임 정보 보러가기!</a>
    </div>
  </div>
  <div>
    <p style="font-size: 0.8rem; color: rgb(156, 156, 156)">행복회로 | 서울특별시 중구 남산동2가
      32-13 303호</p>
  </div>
</div>